@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}
*::-webkit-scrollbar {
  display: none;
}

.home-best-sofa:hover .home-best-sofa-layover {
  left: 0;
}
.home-best-sofa:hover .home-best-sofa-footer {
  left: 100%;
}

.white-text {
  color: white;
}
.black-text {
  color: black;
}

.transparent-bg {
  background-color: rgba(0, 0, 0, 0.4);
}

.blur-bg {
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(10px);
}

.shadowww {
  -webkit-box-shadow: 0px 2px 21px 0px rgba(0, 0, 0, 0.26);
  -moz-box-shadow: 0px 2px 21px 0px rgba(0, 0, 0, 0.26);
  box-shadow: 0px 2px 21px 0px rgba(0, 0, 0, 0.26);
}
.carousel-container {
  position: relative;
  overflow: hidden;
}

.carousel-slide {
  display: flex;
  transition: transform 1500ms ease;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  z-index: 1;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

.digonals-lines {
  background-color: #ffffff;
  background-size: 10px 10px;
  background-image: repeating-linear-gradient(
    45deg,
    #dbdcf1 0,
    #dbdcf1 1px,
    #ffffff 0,
    #ffffff 50%
  );
}
.textured-bg {
  background-color: #ffffff;
  opacity: 1;
  background: radial-gradient(
      circle,
      transparent 20%,
      #ffffff 20%,
      #ffffff 80%,
      transparent 80%,
      transparent
    ),
    radial-gradient(
        circle,
        transparent 20%,
        #ffffff 20%,
        #ffffff 80%,
        transparent 80%,
        transparent
      )
      25px 25px,
    linear-gradient(#e5e6f1 2px, transparent 2px) 0 -1px,
    linear-gradient(90deg, #e5e6f1 2px, #ffffff 2px) -1px 0;
  background-size: 50px 50px, 50px 50px, 25px 25px, 25px 25px;
}

.cardShadow {
  box-shadow: 1px 2px 30px 4px rgba(120, 120, 120, 0.7);
  -webkit-box-shadow: 1px 2px 30px 4px rgba(120, 120, 120, 0.7);
  -moz-box-shadow: 1px 2px 30px 4px rgba(120, 120, 120, 0.7);
}

.ideaImgShadow {
  box-shadow: -1px 2px 32px -4px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -1px 2px 32px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 2px 32px -4px rgba(0, 0, 0, 0.75);
}
